@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

    ::-webkit-scrollbar {
        display: none;
    }
}

:root {
    --bg-color: #1f242d;
    --second--bg-color: #232831;
    --text-color: #fff;
    --main-color: rgb(0, 242, 255);
}

/* :root{
    --bg-color: #0B2447;
    --second--bg-color: #19376D;
    --text-color: #576CBC;
    --main-color: #A5D7E8;
} */

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

section {
    height: calc(100vh - 70px);
    padding: 2rem 3% 2rem;
}

header {
    height: 70px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}





.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.logo span {
    font-size: 4rem;
    color: var(--main-color);
}


.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    padding: 4rem;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    width: 80%;
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover {
    box-shadow: none;
}

.home-img {
    height: 80vh;
    width: 40vw;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 2rem;
    /* box-shadow: 0 0 1.2rem; */
    /* transform: rotateY(180deg); */
    padding-bottom: 2rem;
    overflow: hidden;
    scale: 1;
}

.home-img img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}


.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-content {
    padding: 3rem;
}

.about-content .heading {
    text-align: left;
    font-size: 4.5rem;
}

.sub-heading {
    text-align: center;
    font-size: 3rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    width: 80%;
    font-size: 1.6rem;
    margin: 2rem 0 1.5rem;
}

.about-img {
    min-width: 30vw;
    width: 0vw;
    height: 53vh;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 2rem;
    padding-bottom: 2rem;
    /* box-shadow: 0 0 1.2rem; */
    /* transform: rotateY(180deg); */
    overflow: hidden;
    scale: 1;
}

.about-img img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}


.skills h2 {
    margin-bottom: 1rem;
}

.skills .heading {
    text-align: center;
    font-size: 4rem;
}

.skills section {
    padding-top: 0;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 10rem;
}


.skills-container .skills-box {
    flex: 1 1 30rem;
    background: var(--second--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    transition: 0.5s ease;
    overflow: scroll;
}

.skills-container .skills-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.skills-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.skills-box h3 {
    font-size: 2.6rem;
}

.skills-box p {
    text-align: center;
    font-size: 1.6rem;
    margin: 1rem auto 3rem;
}

.contact h2 {
    margin-bottom: 1rem;
}

.contact .heading {
    text-align: center;
    font-size: 4rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 2rem;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second--bg-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0.2rem;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.projects-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--second--bg-color);
}

.projects-container section {
    padding: 7rem 4rem;
}

.project:nth-child(even) {
    flex-direction: row-reverse;
    background-color: var(--bg-color);
}

.project {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.project-img {
    flex: 1;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
    padding: 0.6rem;
}

.project-img img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.project-content .heading {
    font-size: 4rem;
}

.project-content h2 {
    color: var(--main-color);
    text-align: left;
    line-height: 1.2;
}

.project-content {
    flex: 1.5;
    padding: 2rem;
}

.project-content ul {
    padding: 1rem 4rem;
    font-size: 2.2rem;
    margin: 2rem 0 3rem;
}

.projects-container section {
    height: max-content;
}













@media (max-width:1440px) {
    html {
        font-size: 70%;
    }
}

@media (max-width:1024px) {
    html {
        font-size: 62.5%;
    }

    .home-img,
    .about-img {
        width: 80%;
    }

    .about-content p {
        font-size: 1.4rem;
    }

    .project-content .heading {
        font-size: 3rem;
    }

    .project-content ul {
        font-size: 1.4rem;
    }

    .skills-container {
        padding: 2rem 10rem;
    }
}

@media (max-width:768px) {
    html {
        font-size: 54%;
    }

    header {
        position: sticky;
        top: 0;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
        display: none;
    }

    .navbar.Active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home-img,
    .about-img {
        width: 100%;
    }

    .input-box {
        display: flex;
    }

    .contact .heading {
        font-size: 8rem;
        margin-bottom: 2rem;
    }

    .about-content p {
        font-size: 1.3rem;
    }

    .skills-container {
        padding: 2rem;
    }

}

@media (max-width:426px) {
    html {
        font-size: 42%;
    }

    .home {
        flex-direction: column-reverse;
    }

    .home-content,
    .about-content {
        height: 50vh;
        text-align: center;
        justify-content: center;
    }

    .home-content p,
    .about-content p {
        width: 100%;
        font-size: 1.8rem;
    }

    .home-content h1 {
        width: 100%;
        font-size: 4rem;
    }

    .home-img,
    .about-img {
        width: 60vw;
        height: calc(50vh - 70px);

    }

    .about {
        flex-direction: column;
    }

    .about-content .heading {
        text-align: center;
    }

    .skills .skills-box p {
        font-size: 1.8rem;
    }

    .project {
        flex-direction: column;
    }

    .projects-container section {
        padding: 7rem 2rem;
    }

    .project:nth-child(even) {
        flex-direction: column;
    }

    .project-content ul {
        font-size: 2rem;
    }
}